__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.venv/
venv/
env/
.env

.vscode/
.idea/
.DS_Store
Thumbs.db

config.json

registered_accounts.txt
accounts.txt
ak.txt
rk.txt
registered_accounts.csv

rename_tokens.py

*.log
*.tmp
